.body {
  margin-bottom: 1px;
  background-color: #fffb00;
}

.herosection {
  overflow: hidden;
  height: 700px;
  margin-top: 0px;
  background-image: url('../images/Untitled-9.png'), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, 125px;
  background-repeat: repeat, repeat;
  background-attachment: scroll, scroll;
}

.container {
  padding-top: 132px;
  padding-left: 20px;
}

.heading {
  width: 300px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
}

.paragraph {
  width: 300px;
  padding-top: 10px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
}

.text-block {
  color: #fff;
  font-weight: 700;
}

.image {
  margin-left: 40px;
  padding-top: 10px;
}

.image:hover {
  opacity: 1;
}

.image-2 {
  padding-top: 10px;
  color: #000;
}

.image-2:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.link-block {
  display: inline-block;
}

.image-3 {
  position: relative;
}

.image-4 {
  position: fixed;
  left: 178px;
  top: 137px;
  bottom: auto;
  max-width: 70%;
}

.div-block {
  position: relative;
  bottom: -25px;
}

.image-5 {
  position: relative;
  right: auto;
  bottom: -44px;
  max-width: 90%;
}

.container-3 {
  position: relative;
  bottom: -48px;
}

.uglycute {
  position: relative;
}

.section {
  height: 10px;
}

.section-2 {
  height: 70px;
}

.image-6 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  max-width: 15%;
  float: right;
  clear: none;
}

.text-block-2 {
  position: relative;
}

@media (max-width: 991px) {
  .image-4 {
    position: absolute;
    bottom: auto;
    max-width: 70%;
  }
  .image-5 {
    position: relative;
    bottom: -35px;
  }
  .container-2 {
    position: relative;
  }
  .uglycute {
    position: relative;
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .image-4 {
    position: absolute;
    left: auto;
    top: auto;
    right: 19px;
    bottom: 79px;
    max-width: 80%;
  }
  .image-5 {
    position: relative;
    top: auto;
    right: auto;
    bottom: -38px;
    max-width: 100%;
  }
  .container-2 {
    position: relative;
    bottom: auto;
  }
  .section {
    height: 100px;
  }
  .section-2 {
    height: 1px;
  }
}

@media (max-width: 479px) {
  .herosection {
    margin-top: 0px;
  }
  .image-3 {
    top: 10px;
    max-width: 80%;
  }
  .image-4 {
    top: 149px;
    right: 32px;
    bottom: auto;
  }
  .image-5 {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    max-width: 100%;
  }
  .container-2 {
    position: relative;
    bottom: auto;
  }
  .container-3 {
    bottom: auto;
  }
  .uglycute {
    max-width: 80%;
  }
  .section {
    height: 50px;
  }
  .image-6 {
    position: relative;
    left: -19px;
    max-width: 20%;
  }
}

